<div class="container-fluid">
  <h1>Editing Design</h1>

  <%= render 'form' %>

  <%= link_to 'Show', project_design_path(@design.project_id, @design), class: "btn btn-link" %> |
  <%= link_to 'Browse Projects', projects_path, class: "btn btn-link" %>
  
</div>
