<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item bg bg1 active">
      <!-- <img src="http://placehold.it/1266x500" alt="placeholder 1"> -->
      <div class="carousel-caption">
        <h3>Headline 1</h3>
        <p>Narwhal readymade cred, drinking vinegar 90's Odd Future try-hard squid post-ironic stumptown trust fund pug Tumblr slow-carb VHS.</p>
      </div>
    </div>
    <div class="item bg bg2">
      <!-- <img src="http://placehold.it/1266x500" alt="placeholder 2"> -->
      <div class="carousel-caption">
        <h3>Headline 2</h3>
        <p>Organic put a bird on it lumbersexual fanny pack. 8-bit plaid kogi, Etsy banh mi Brooklyn keytar cornhole mustache paleo lomo raw denim flexitarian Austin meh.</p>
      </div>
    </div>
    <div class="item bg bg3">
      <!-- <img src="http://placehold.it/1266x500" alt="placeholder 3"> -->
      <div class="carousel-caption">
        <h3>Headline 3</h3>
        <p>90's pork belly occupy semiotics quinoa, ennui DIY. </p>
      </div>
    </div>
   
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div id="services">
  <div class="container-fluid">
    <div class="page-header">
      <h1>Our Benefits</h1>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img src="http://placehold.it/100x100" alt="Benefit placeholder 1">
        <p class="lead">Utilize the Power of the Crowd</p>
        <p class="info">Chambray distillery bicycle rights synth hashtag. Deep v McSweeney's irony health goth Portland letterpress. Selvage Kickstarter crucifix, literally Pitchfork bespoke chia biodiesel Wes Anderson ennui lumbersexual Blue Bottle chambray letterpress.</p>
      </div>

      <div class="col-md-4">
        <img src="http://placehold.it/100x100" alt="Benefit placeholder 1">
        <p class="lead">100% Satisfaction Guarantee</p>
        <p class="info">Bitters trust fund Odd Future, sartorial pork belly wayfarers High Life brunch butcher vegan. Forage Williamsburg cliche kale chips. Next level ennui banjo, narwhal shabby chic Helvetica retro freegan authentic distillery Carles butcher locavore.</p>
      </div>

      <div class="col-md-4">
        <img src="http://placehold.it/100x100" alt="Benefit placeholder 1">
        <p class="lead">Quick and Easy</p>
        <p class="info">Fashion axe small batch banh mi cold-pressed, listicle skateboard deep v artisan. Truffaut pug tattooed, pour-over selfies occupy raw denim. Mumblecore brunch Odd Future polaroid Shoreditch kogi. Gentrify selfies DIY twee letterpress sriracha.</p>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron" id="portfolio">
  <div class="container-fluid">
    <h1>Featured Projects</h1>
    <p>Chillwave pork belly yr meggings four dollar toast mustache, pop-up heirloom migas cardigan synth church-key. Asymmetrical vinyl Banksy fap hoodie meggings bespoke drinking vinegar XOXO, fanny pack swag pickled. Occupy ennui small batch, lumbersexual sriracha listicle next level chillwave sartorial cray four loko Intelligentsia tote bag raw denim fingerstache. </p>
    <p>
      <%= link_to "Browse Projects", projects_path, class: "btn btn-primary btn-lg" %>
    </p>
  </div>
</div>

<div class="jumbotron" id="designers">
  <div class="container-fluid">
    <h1>Featured Designers</h1>
    <p>Cold-pressed normcore lomo you probably haven't heard of them meh art party. Roof party Vice selfies drinking vinegar tote bag. Gentrify fashion axe Marfa deep v, leggings Intelligentsia cred Truffaut bitters brunch scenester four loko. Pour-over asymmetrical church-key squid. </p>
    <p><a href="" class="btn btn-primary btn-lg">Browse Designers</a></p>
  </div>
</div>

<div class="jumbotron" id="testimonials">
  <div class="container-fluid">
    <h1>Testimonials</h1>
    <blockquote>Post-ironic selfies quinoa lomo, tofu cardigan hella kogi mlkshk chillwave. Irony aesthetic wayfarers, Blue Bottle trust fund meditation chia beard. &mdash; R Johnson, 2013</blockquote>
    <blockquote>Banjo post-ironic Echo Park shabby chic, brunch Etsy bitters semiotics scenester fashion axe ethical drinking vinegar art party deep v Godard. &mdash; K Smith, 2014</blockquote>
    <blockquote>Butcher locavore vegan, flannel forage occupy photo booth heirloom post-ironic tilde lumbersexual actually sustainable roof party. &mdash; L Johns, 2013</blockquote>
  </div>
</div>
