<div class="jumbotron" id="main-carousel">
  <div class="container-fluid">
    <h1>Unique Selling Proposition</h1>
    <h3>A short but bold statement to catch the viewer's attention.</h3>
  </div>
</div>