
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://placehold.it/1266x500" alt="placeholder 1">
      <div class="carousel-caption">
        <h3>Headline 1</h3>
        <p>Paragraph 1</p>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1266x500" alt="placeholder 2">
      <div class="carousel-caption">
        <h3>Headline 2</h3>
        <p>Paragraph 2</p>
      </div>
    </div>
    <div class="item">
      <img src="http://placehold.it/1266x500" alt="placeholder 3">
      <div class="carousel-caption">
        <h3>Headline 3</h3>
        <p>Paragraph 3</p>
      </div>
    </div>
   
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div id="services">
  <div class="container-fluid">
    <div class="page-header">
      <h1>Our Benefits</h1>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img src="http://placehold.it/100x100" alt="Benefit placeholder 1">
        <p class="lead">Utilize the Power of the Crowd</p>
        <p class="info">Lorem ipsum dolor sit amet, duo principes abhorreant reprimique et, quot persius adolescens vix in. Nec ut mucius dignissim definitionem. Numquam probatus moderatius vix cu, his ei nibh constituam. Sed dolores quaestio aliquando ei, malis inermis ei sit, has ridens debitis evertitur in.</p>
      </div>

      <div class="col-md-4">
        <img src="http://placehold.it/100x100" alt="Benefit placeholder 1">
        <p class="lead">100% Satisfaction Guarantee</p>
        <p class="info">Lorem ipsum dolor sit amet, duo principes abhorreant reprimique et, quot persius adolescens vix in. Nec ut mucius dignissim definitionem. Numquam probatus moderatius vix cu, his ei nibh constituam. Sed dolores quaestio aliquando ei, malis inermis ei sit, has ridens debitis evertitur in.</p>
      </div>

      <div class="col-md-4">
        <img src="http://placehold.it/100x100" alt="Benefit placeholder 1">
        <p class="lead">Quick and Easy</p>
        <p class="info">Lorem ipsum dolor sit amet, duo principes abhorreant reprimique et, quot persius adolescens vix in. Nec ut mucius dignissim definitionem. Numquam probatus moderatius vix cu, his ei nibh constituam. Sed dolores quaestio aliquando ei, malis inermis ei sit, has ridens debitis evertitur in.</p>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron" id="portfolio">
  <div class="container-fluid">
    <h1>Featured Projects</h1>
    <p>Lorem ipsum dolor sit amet, duo principes abhorreant reprimique et, quot persius adolescens vix in. Nec ut mucius dignissim definitionem. Numquam probatus moderatius vix cu, his ei nibh constituam. Sed dolores quaestio aliquando ei, malis inermis ei sit, has ridens debitis evertitur in.</p>
    <p><a href="" class="btn btn-primary btn-lg">Browse Projects</a></p>
  </div>
</div>

<div class="jumbotron" id="designers">
  <div class="container-fluid">
    <h1>Featured Designers</h1>
    <p>Lorem ipsum dolor sit amet, duo principes abhorreant reprimique et, quot persius adolescens vix in. Nec ut mucius dignissim definitionem. Numquam probatus moderatius vix cu, his ei nibh constituam. Sed dolores quaestio aliquando ei, malis inermis ei sit, has ridens debitis evertitur in.</p>
    <p><a href="" class="btn btn-primary btn-lg">Browse Designers</a></p>
  </div>
</div>

<div class="jumbotron" id="testimonials">
  <div class="container-fluid">
    <h1>Testimonials</h1>
    <blockquote>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. &mdash; R Johnson, 2013</blockquote>
    <blockquote>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. &mdash; K Smith, 2014</blockquote>
    <blockquote>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. &mdash; L Johns, 2013</blockquote>
  </div>
</div>
