<section class="howBanner">
  <div class="container">
    <div class="bannerContent">
      <p>Discover Yourself</p>
    </div>
  </div>
</section>
<!--/section-->
<!--section-->
<section class="tourBlock">
  <div class="container">
    <h2>TAKE A TOUR</h2>

    <div class="row">
      <div class="col-md-8 col-sm-8 col-md-offset-4 col-sm-offset-4">
        <div class="two-col clearfix">
          <div class="border"></div>
          <div class="bullet"> 1.</div>
          <div class="contents">
            <h3>Create your profile</h3>

            <p>Just get registered and start browsing projects, building your network and working on projects.</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="two-col1 two-col clearfix">
          <div class="border"></div>
          <div class="odd bullet"> 1.</div>
          <div class="contents">
            <h3>Initiate your project</h3>

            <p>Tell our community what kind of project you need to get done and give them some footage.</p>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-sm-7 col-md-offset-5 col-sm-offset-5">
        <div class="two-col2 two-col clearfix">
          <div class="border"></div>
          <div class="bullet"> 2.</div>
          <div class="contents">
            <h3>Search for projects</h3>

            <p>Find that kind of project you wanna work on and choose from a large variety of working modes.</p>
          </div>
        </div>
      </div>
      <div class="col-md-11 col-sm-12 col-md-offset-1">
        <div class="two-col3 two-col clearfix">
          <div class="border"></div>
          <div class="odd bullet"> 2.</div>
          <div class="contents">
            <h3>Get solutions</h3>

            <p>Receive one or many solutions and from
              drifferent kind of creatives.</p>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-sm-8 col-md-offset-4 col-sm-offset-4">
        <div class="two-col4 two-col clearfix">
          <div class="border"></div>
          <div class="bullet"> 3.</div>
          <div class="contents">
            <h3>Participate in projects</h3>

            <p>Show your skills and get feedback from the community. Be part of team that gets the challenge done.</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="two-col5 two-col clearfix">
          <div class="border"></div>
          <div class="odd bullet"> 3.</div>
          <div class="contents">
            <h3>Choose your favourite</h3>

            <p>From all submitted projects you can choose the one you like best or let the community make the
              choice.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-md-offset-6 col-sm-offset-6">
        <div class="two-col6 two-col clearfix">
          <div class="border"></div>
          <div class="bullet"> 4.</div>
          <div class="contents">
            <h3>Get paid</h3>

            <p>Can’t exist on love and air alone?
              Get a fair reward right after your job is done.</p>
          </div>
        </div>
      </div>
      <div class="col-md-10 col-sm-11 col-md-offset-2 col-sm-offset-1">
        <div class="two-col7 two-col clearfix">
          <div class="odd bullet"> 4.</div>
          <div class="contents">
            <h3>Pay the chosen creative</h3>

            <p>A good jobs needs a appropriate
              reward. Pay in a secure mode.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/section-->
<!--section-->
<section class="testimonial Carousel-wrap">
  <div class="container">
    <div class="carouselHolder">
      <div class="flexslider" id="banner">
        <ul class="slides">
          <li>
            <div class="testimonial-wrap">
              <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-6">
                  <div class="testimonialDesc">
                    <p>These guys’re amazing. I had so much fun during this project and enjoyed the unrestrained
                      exchange of knowledge</p>
                    .
                    <p>
                      <small>Ed Ruscha, Artist</small>
                    </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <div class="image"><img src="/assets/v2/user.png" alt=""></div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="testimonial-wrap">
              <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-6">
                  <div class="testimonialDesc">
                    <p>These guys’re amazing. I had so much fun during this project and enjoyed the unrestrained
                      exchange of knowledge</p>
                    .
                    <p>
                      <small>Ed Ruscha, Artist</small>
                    </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <div class="image"><img src="/assets/v2/user.png" alt=""></div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="testimonial-wrap">
              <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-6">
                  <div class="testimonialDesc">
                    <p>These guys’re amazing. I had so much fun during this project and enjoyed the unrestrained
                      exchange of knowledge</p>
                    .
                    <p>
                      <small>Ed Ruscha, Artist</small>
                    </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <div class="image"><img src="/assets/v2/user.png" alt=""></div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--/section-->
<!--section-->
<section class="register">
  <div class="container">
    <div class="registerBlock">
      <h2> Register now</h2>

      <p>Be part of the most uplifting and somithing community of creative skills.</p>

      <div class="see"><a href="#">Sign me up</a></div>
      <p><a href="#"> No, thanks. Take me Back</a></p>
    </div>
  </div>
</section>
<!--/section-->

