<div class="jumbotron" id="how-it-works-header">
  <div class="container-fluid">
    <%= render 'layouts/navbar' %>
      This is the header section which should include a paragraph explaining one benefit of Skillmill in more detail
  </div>
</div>

<!-- Tour -->
<div class="jumbotron" id="tour">
  <div class="container-fluid">
    <h3 class="center">Tour</h3>
    <div class="col-md-4">
      <ul class="form">
        <li class="selected"><a class="step-1" href="#"><i class="fa fa-user"></i>Step 1: Post a Project</a></li>
        <li><a class="step-2" href="#"><i class="fa fa-group"></i>Step 2: Get Contacted</a></li>
        <li><a class="step-3" href="#"><i class="fa fa-cog"></i>Step 3: Pick the best Design</a></li>
        <li><a class="step-4" href="#"><i class="fa fa-rocket"></i>Step 4: Complete Project</a></li>
      </ul>
    </div>
    <div class="col-md-8">
      <div id="tour-image">
        <div class="first-image">1</div>
        <div class="second-image hidden">2</div>
        <div class="third-image hidden">3</div>
        <div class="fourth-image hidden">4</div>
      </div>
    </div>
  </div>
</div>

<!-- Testimonials -->
<div class="jumbotron center" id="testimonials">
  <div class="container-fluid">
    <div class="row">
      <h3>Testimonials</h3>
    </div>
    <div class="row">
      <div class="col-md-4">
        <blockquote>Post-ironic selfies quinoa lomo, tofu cardigan hella kogi mlkshk chillwave. Irony aesthetic wayfarers, Blue Bottle trust fund meditation chia beard. &mdash; R Johnson, 2013</blockquote>
      </div>
      <div class="col-md-4">
        <blockquote>Banjo post-ironic Echo Park shabby chic, brunch Etsy bitters semiotics scenester fashion axe ethical drinking vinegar art party deep v Godard. &mdash; K Smith, 2014</blockquote>
      </div>
      <div class="col-md-4">
        <blockquote>Butcher locavore vegan, flannel forage occupy photo booth heirloom post-ironic tilde lumbersexual actually sustainable roof party. &mdash; L Johns, 2013</blockquote>
      </div>
    </div>
  </div>
</div>

<!-- Register -->
<div class="jumbotron center" id="register_now">
  <div class="container-fluid">
    <h3>Register Now</h3>
    <div class="register">
      <%= button_tag "Sign me up", class: "btn btn-success" %>
    </div>
    <div>
      <%= link_to "No, thanks. Take me back", root_path, class: "btn btn-link" %>
    </div>
  </div>
</div>

