<!-- Testimonials -->
<div class="jumbotron" id="testimonials">
  <div class="container-fluid">
    <h1>Testimonials</h1>
    <blockquote>Post-ironic selfies quinoa lomo, tofu cardigan hella kogi mlkshk chillwave. Irony aesthetic wayfarers, Blue Bottle trust fund meditation chia beard. &mdash; R Johnson, 2013</blockquote>
    <blockquote>Banjo post-ironic Echo Park shabby chic, brunch Etsy bitters semiotics scenester fashion axe ethical drinking vinegar art party deep v Godard. &mdash; K Smith, 2014</blockquote>
    <blockquote>Butcher locavore vegan, flannel forage occupy photo booth heirloom post-ironic tilde lumbersexual actually sustainable roof party. &mdash; L Johns, 2013</blockquote>
  </div>
</div>