<div class="container-fluid">
  <h1>Editing Project</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @project, class: "btn btn-link" %> |

  <%= link_to 'Browse Projects', projects_path, class: "btn btn-link" %> |

  <%= link_to 'My Projects', myprojects_path, class: "btn btn-link" %>
</div>
