// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

/* GLOBAL STYLES
-------------------------------------------------- */
  /* Sticky footer styles
  -------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 300px;
  font-family: Maven Pro;
  // padding-top: 101px; 
}

.center {
  text-align: center;
}

.jumbotron {
  margin-bottom: 0px;
  background-color: #f7f7f7;
}

.thumbnail {
  padding: 0px;
  h3 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
  }
  p {
    font-size: 14px;
  } 
  .btn {
    background-color: transparent;
    color: #249CB1;
    padding: 5px;
    border: 2px solid #249CB1;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
  }
  .btn:hover {
    background-color: #249CB1;
    color: #FFDC08;

  }
}

.section-header {
  margin-bottom: 40px;
  h3 {
    color: #249CB1;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  span {
    color: #FFDC08;
    font-size: 30px;
  }
}

.section-btn {
  margin-top: 30px;
  button {
    background-color: transparent;
    padding: 0px 0px 1px;
    border: none;
    border-bottom: 5px solid #FFDC08;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: #249CB1;
  }
  button:hover {
    background-color: transparent;
    border-bottom: 5px solid #249CB1;
    color: #FFDC08;
  }
}

.alert-custom {
  margin-bottom: 0px;
  border-radius: 0px;
}

table {
  /* creates space between glyphicons links in table */
  .action {
    margin-left: 15px;
  }
}

.col-md-3:nth-child(4n+1) {
  /* ensures that thumbnails arrange in fours */
  clear: left;
}

/* BENEFITS
-------------------------------------------------- */

#benefits {
  display: none;
  text-align: center;
  padding: 48px;
  .benefits-icon {
    margin-bottom: 15px;
    font-size: 40px;
    color: #FFDC08;
  }
  .lead {
    text-transform: uppercase;
    color: #249CB1;
    letter-spacing: 2px;
    font-weight: bold;
  }
  .info {
    font-size: 16px;
    color: #7E7965;
  }
  img {
    border-radius: 50%;
    border: 8px solid #dddddd;
    margin: 5px;
  }
  img:hover {
    opacity: 0.85;
  }
}

/* NAVBAR
-------------------------------------------------- */



/* MAIN SEARCH WINDOW
-------------------------------------------------- */
#main-header {
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 95px;
  background-image: url('background_coffeebreak_yellow.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  height: 550px;
  .navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    background-color : transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    li {
      padding: 0px 10px;
    }
    a {
      color: #fff;
      padding: 3px 0px 0px;
    }
    .navbar-header {
      img {
        height: 30px;
      }
    }
    .navbar-nav {
      margin-top: 6px;
    }
    
    #menu-right {
      input {
        margin-right: 0px;
        margin-top: -3px;
        border-radius: 20px;
        background-color: transparent;
        border-color: #fff;
      }
      input:hover {
        background-color: #fff;
        color: #000;
      }
      a:hover {
        background-color: transparent;
        color: #FFDC08;
        // font-weight: bold;

      }
    }
    #menu-left {
      margin-left: 4em;
      
      a:hover {
        background-color: transparent;
        border-bottom: 3px solid #FFDC08;
      }
    }
  }
}

#main-search-field {
  text-transform: uppercase;
  position: relative;
  top: 50%;
  transform: translateY(80%);
  h1 {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
    #projects {
      color: #FFDC08;
    }
    #creatives {
      color: #249CB1;
    }
  }
  .input-group {
    input, button {
      border-radius: 0px;
      height: 40px;
      border: none;
    }
    button {
      background-color: #FFDC08;
    }
    button:hover {
      background-color: #ffc708;
    }
    width: 55%;
    .input-group-btn {
      width: 40px;
      margin-left: -2px;
    }
  }
}

#how-it-works-btn {
  margin-top: 30px;
  button {
    background-color: #FFDC08;
    // background-color: #ffc708;
    padding: 6px 15px;
    border: none;
    border-radius: 0px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
  }
  button:hover {
    background-color: #249CB1;
    color: #FFDC08;
  }
}

/* CATEGORIES
-------------------------------------------------- */
#categories-menu {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  .category-menu {
    margin: 30px auto;
    .category-icon {
      padding-bottom: 15px;
      font-size: 30px;
      color: #FFDC08;
    }
    .category-name {
      text-transform: uppercase;
      font-size: 14px;
      color: #7E7965;
      letter-spacing: 1.5px;
      font-weight: bold;
    }
  }
}

/* PROJECTS
-------------------------------------------------- */


/* CAROUSEL
-------------------------------------------------- */

.carousel-inner {
  height:100%;
  background-color: #249CB1;
  .item {
    img {
      width: 100%;
      visibility: hidden;
    }
    .carousel-caption {
      padding-bottom: 70px;
      .lead {
        padding-bottom: 0px;
        margin-bottom: 0px;
      }
      p {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 0px;
      }
      a {
        background-color: transparent;
        padding: 5px 15px;
        border: 2px solid #FFDC08;
        border-radius: 0px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        color: #FFDC08;
      }
      a:hover {
        background-color: #FFDC08;
        color: #fff;
      }
    }
  }
}

/* DESIGNERS
-------------------------------------------------- */




/* EVENTS
-------------------------------------------------- */
#events {
  background-color: #fefefe;
  #events-title {
    margin-bottom: 5px;
  }
  .lead {
    text-transform: uppercase;
    color: #249CB1;
    font-weight: bold;
  }
  .sub-lead {
    font-size: 16px;
  }
  .info {
    font-size: 18px;
  }
}

/* FOOTER
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
  background-color: #249CB1;
  color: #fff;
  .footer-title {
    margin: 30px 0px 0px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
  }
  .footer-links {
    .btn {
      color: #fff;
    }
  }
  .company-info-links {
    margin-left: 115px;
  }
  .resources-links {
    margin-left: 132px;
  }
  .social-links {
    // margin-left: 30px;

  }
  .social-media {
    margin-top: 8px;
  }
  .container-fluid {
    height: auto;
    position: relative;  
    bottom: 0px;
  }
  #copyright {
    bottom: -100px;
    position: relative;
  }
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

}
  

@media (min-width: 992px) {
  
}

