<div class="whyblock">
  <div class="top-border"> </div>
  <div class="container">
    <div class="whyContent">
      <div class="close-icon"><span class="icon-g_cross"></span></div>
      <h3> Discover the most advanced online gate to the creative world of work.</h3>
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <h2>Work</h2>
          <p><big>Access to worldwide work life</big></p>
          <p> Your online platform for solving problems with creative ideas. Focus on your expertise, seek the people you need to realize your visions and enjoy an easy and efficient workflow.</p>
          <ul>
            <li>Work 1-on-1 or Build a Team</li>
            <li>No Time Wasted on Bureaucracy</li>
            <li>Fair rewards and transparent pricing: no nasty surprises</li>
            <li>Stay in control of your projects via our project dashboard keeping deadlines and project status in check</li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-4">
          <h2>TOGETHER</h2>
          <p><big>Your space in the creative crowd</big></p>
          <p> Get connected and be part of a community of creative talents at all levels of experience. Present yourself, exchange knowledge and contribute your opinion to help others.</p>
          <ul>
            <li>Share ideas and build knowledge</li>
            <li>Marketplace for resources</li>
            <li>Stay informed on upcoming events and find other team members to get involved</li>
            <li>Network, Exchange and get tailormade information via User generated tutorials and opinions of industry experts</li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-4">
          <h2>DIFFERENT</h2>
          <p><big>A Playground to proof your skills</big></p>
          <p> Be part of a workprocess revolution. Choose from one of many operating methods, experience a new way of getting work done, and profit from crowd-driven dynamics.</p>
          <ul>
            <li>Get feedback from the crowd, the community and experts</li>
            <li>Select from a variety of creative skills</li>
            <li>Jury: let users and experts award the result</li>
            <li>Many ways to operate: Post a project, choose a freelancer directly, buy from an existing portfolio or ask for ideas</li>
          </ul>
        </div>
      </div>
      <p class="text-center"><a href="#">Okay, got it!</a></p>
    </div>
  </div>
</div>
