<div id="benefits">
  <div class="container-fluid">
  <div class="row">
    <button id="close-benefits-btn" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
    <div class="row section-header center">
      <div>
        <span class="glyphicon glyphicon-list-alt"></span>
        <h3>Our Benefits</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img src="http://placehold.it/100x100" alt="Benefit placeholder 1">
        <p class="lead">Utilize the Power of the Crowd</p>
        <p class="info">Chambray distillery bicycle rights synth hashtag. Deep v McSweeney's irony health goth Portland letterpress. Selvage Kickstarter crucifix, literally Pitchfork bespoke chia biodiesel Wes Anderson ennui lumbersexual Blue Bottle chambray letterpress.</p>
      </div>

      <div class="col-md-4">
        <img src="http://placehold.it/100x100" alt="Benefit placeholder 1">
        <p class="lead">100% Satisfaction Guarantee</p>
        <p class="info">Bitters trust fund Odd Future, sartorial pork belly wayfarers High Life brunch butcher vegan. Forage Williamsburg cliche kale chips. Next level ennui banjo, narwhal shabby chic Helvetica retro freegan authentic distillery Carles butcher locavore.</p>
      </div>

      <div class="col-md-4">
        <img src="http://placehold.it/100x100" alt="Benefit placeholder 1">
        <p class="lead">Quick and Easy</p>
        <p class="info">Fashion axe small batch banh mi cold-pressed, listicle skateboard deep v artisan. Truffaut pug tattooed, pour-over selfies occupy raw denim. Mumblecore brunch Odd Future polaroid Shoreditch kogi. Gentrify selfies DIY twee letterpress sriracha.</p>
      </div>
    </div>
  </div>
</div>