<div id="benefits">
  <div class="container-fluid">
  <div class="row">
    <button id="close-benefits-btn" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
    <div class="row section-header center">
      <div>
        <span class="fa fa-compass"></span>
        <h3>Our Benefits</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div>
          <span class="benefits-icon fa fa-briefcase"></span>
        </div>
        <p class="lead">Work</p>
        <p class="info">Your online platform for solving problems with creative ideas. Focus on your expertise, seek the people you need to realize your visions and enjoy an easy and efficient workflow.</p>
      </div>

      <div class="col-md-4">
        <div>
          <span class="benefits-icon fa fa-group"></span>
        </div>
        <p class="lead">Together</p>
        <p class="info">Get connected and be part of a community of creative talents at all levels of experience. Present yourself, exchange knowledge and contribute your opinion to help others.</p>
      </div>

      <div class="col-md-4">
       <div>
          <span class="benefits-icon fa fa-lightbulb-o"></span>
        </div>
        <p class="lead">Different</p>
        <p class="info">Be part of a workprocess revolution. Choose from one of many operating methods, experience a new way of getting work done, and profit from crowd-driven dynamics.</p>
      </div>
    </div>

    <div id="keypoints" class="row">
      <div class="benefit-keypoints col-md-4">
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-check-square-o"></i>
          </div>
          <div class="col-md-10">
            Work 1-on-1 or Build a Team  
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-check-square-o"></i>
          </div>
          <div class="col-md-10">
           No Time Wasted on Bureaucracy 
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-check-square-o"></i>
          </div>
          <div class="col-md-10">
            Fair rewards and transparent pricing: no nasty surprises
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-check-square-o"></i>
          </div>
          <div class="col-md-10">
            Stay in control of your projects via our project dashboard keeping deadlines and project status in check
          </div>
        </div>
      </div>

      <div class="benefit-keypoints col-md-4">
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-check-square-o"></i>
          </div>
          <div class="col-md-10">
            Share ideas and build knowledge  
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-check-square-o"></i>
          </div>
          <div class="col-md-10">
           Marketplace for resources
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-check-square-o"></i>
          </div>
          <div class="col-md-10">
            Stay informed on upcoming events and find other team members to get involved
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-check-square-o"></i>
          </div>
          <div class="col-md-10">
            Network, Exchange and get tailormade information via User generated tutorials and opinions of industry experts
          </div>
        </div>
      </div>
      
      <div class="benefit-keypoints col-md-4">
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-check-square-o"></i>
          </div>
          <div class="col-md-10">
            Get feedback from the crowd, the community and experts 
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-check-square-o"></i>
          </div>
          <div class="col-md-10">
            Select from a variety of creative skills
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-check-square-o"></i>
          </div>
          <div class="col-md-10">
            Jury: let users and experts award the result
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <i class="fa fa-check-square-o"></i>
          </div>
          <div class="col-md-10">
            Many ways to operate: Post a project, choose a freelancer directly, buy from an existing portfolio or ask for ideas
          </div>
        </div>
      </div>
    </div>

    <div class="row section-btn center">
      <button id="benefits-more" class="btn btn-sm btn-success"><i class="fa fa-chevron-down"></i> Tell Me More</button>
      <button id="benefits-less" class="btn btn-sm btn-success"><i class="fa fa-chevron-up"></i> Okay, Got it!</button>
    </div>
  </div>
</div>