<div id="benefits">
  <div class="container-fluid">
  <div class="row">
    <button id="close-benefits-btn" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
    <div class="row section-header center">
      <div>
        <span class="fa fa-compass"></span>
        <h3>Our Benefits</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div>
          <span class="benefits-icon fa fa-briefcase"></span>
        </div>
        <p class="lead">Work</p>
        <p class="info">Your online platform for solving problems with creative ideas. Focus on your expertise, seek the people you need to realize your visions and enjoy an easy and efficient workflow.</p>
      </div>

      <div class="col-md-4">
        <div>
          <span class="benefits-icon fa fa-group"></span>
        </div>
        <p class="lead">Together</p>
        <p class="info">Get connected and be part of a community of creative talents at all levels of experience. Present yourself, exchange knowledge and contribute your opinion to help others.</p>
      </div>

      <div class="col-md-4">
       <div>
          <span class="benefits-icon fa fa-lightbulb-o"></span>
        </div>
        <p class="lead">Different</p>
        <p class="info">Be part of a workprocess revolution. Choose from one of many operating methods, experience a new way of getting work done, and profit from crowd-driven dynamics.</p>
      </div>
    </div>
  </div>
</div>