<div class="jumbotron" id="categories-menu">
  <div class="container-fluid">
    <div class="row section-header center">
      <div>
        <span class="glyphicon glyphicon-list-alt"></span>
        <h3>Our Categories</h3>
      </div>
    </div>

    <div class="row category-menu center">
        <div class="col-md-3">
          <div>
            <span class="fa fa-building-o"></span>
          </div>
          <div>Architecture</div>
        </div>
        <div class="col-md-3">
          <div>
            <span class="glyphicon glyphicon-edit"></span>
          </div>
          <div>Graphic Design</div>
        </div>
        <div class="col-md-3">
          <div>
            <span class="glyphicon glyphicon-cloud-upload"></span>
          </div>
          <div>Web Design</div>
        </div>
        <div class="col-md-3">
          <div>
            <span class="glyphicon glyphicon-headphones"></span>
          </div>
          <div>Audio & Music</div>
        </div>
    </div>
    <div class="row category-menu center">
        <div class="col-md-3">
          <div>
            <span class="glyphicon glyphicon-camera"></span>
          </div>
          <div>Photography</div>
        </div>
        <div class="col-md-3">
          <div>
            <span class="glyphicon glyphicon-film"></span>
          </div>
          <div>Film & Video</div>
        </div>
        <div class="col-md-3">
          <div>
            <span class="glyphicon glyphicon-pencil"></span>
          </div>
          <div>Writing</div>
        </div>
        <div class="col-md-3">
          <div>
            <span class="fa fa-laptop"></span>
          </div>
          <div>Software Development</div>
        </div>
    </div>
    <div class="row section-btn center">
      <button class="btn btn-warning" type="submit">Other</button>
    </div>
  </div>
</div>

      