<div class="jumbotron" id="categories-menu">
  <div class="container-fluid">
    <div class="row section-header center">
      <div>
        <span class="glyphicon glyphicon-list-alt"></span>
        <h3>Our Categories</h3>
      </div>
    </div>

    <div class="row category-menu center">
        <div class="col-md-3">
          <div>
            <span class="category-icon fa fa-building-o"></span>
          </div>
          <div class="category-name">Architecture</div>
        </div>
        <div class="col-md-3">
          <div>
            <span class="category-icon glyphicon glyphicon-edit"></span>
          </div>
          <div class="category-name">Graphic Design</div>
        </div>
        <div class="col-md-3">
          <div>
            <span class="category-icon glyphicon glyphicon-cloud-upload"></span>
          </div>
          <div class="category-name">Web Design</div>
        </div>
        <div class="col-md-3">
          <div>
            <span class="category-icon glyphicon glyphicon-headphones"></span>
          </div>
          <div class="category-name">Audio & Music</div>
        </div>
    </div>
    <div class="row category-menu center">
        <div class="col-md-3">
          <div>
            <span class="category-icon glyphicon glyphicon-camera"></span>
          </div>
          <div class="category-name">Photography</div>
        </div>
        <div class="col-md-3">
          <div>
            <span class="category-icon glyphicon glyphicon-film"></span>
          </div>
          <div class="category-name">Film & Video</div>
        </div>
        <div class="col-md-3">
          <div>
            <span class="category-icon glyphicon glyphicon-pencil"></span>
          </div>
          <div class="category-name">Writing</div>
        </div>
        <div class="col-md-3">
          <div>
            <span class="category-icon fa fa-laptop"></span>
          </div>
          <div class="category-name">Software Development</div>
        </div>
    </div>
    <div class="row section-btn center">
      <button class="btn btn-warning" type="submit">Other</button>
    </div>
  </div>
</div>

      