<div class="jumbotron" id="designers">
  <div class="container-fluid">
    <div class="row section-header center">
      <div>
        <span class="fa fa-diamond"></span>
        <h3>Our Designers</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="http://placehold.it/193x200" alt="placeholder 1">
          <div class="caption">
            <h3>Listicle Echo Park</h3>
            <p>IPhone try-hard Schlitz, craft beer post-ironic Wes Anderson...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="http://placehold.it/193x200" alt="placeholder 1">
          <div class="caption">
            <h3>Organic bicycle rights</h3>
            <p>Whatever deep v banh mi cold-pressed bitters cornhole...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="http://placehold.it/193x200" alt="placeholder 1">
          <div class="caption">
            <h3>Kale chips selvage </h3>
            <p>Crucifix vegan letterpress, Intelligentsia photo booth disrupt ...</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="http://placehold.it/193x200" alt="placeholder 1">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Etsy asymmetrical hoodie trust fund swag sustainable chia</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row center section-btn" id="see-all-btn">
      <%= link_to "See All", projects_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>