<div class="jumbotron" id="designers">
  <div class="container-fluid">
    <div class="row section-header center">
      <div>
        <span class="fa fa-diamond"></span>
        <h3>Featured Designers</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="http://placehold.it/290x200" alt="placeholder 1">
          <div class="caption">
            <h3>Listicle Echo Park</h3>
            <p>IPhone try-hard Schlitz, craft beer post-ironic Wes Anderson...</p>
            <p><a href="#" class="btn btn-profile" role="button"><i class="fa fa-eye"></i> Profile</a> <a href="#" class="btn btn-message" role="button"><i class="fa fa-send"></i> Message</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="http://placehold.it/290x200" alt="placeholder 1">
          <div class="caption">
            <h3>Organic bicycle rights</h3>
            <p>Whatever deep v banh mi cold-pressed bitters cornhole...</p>
            <p><a href="#" class="btn btn-profile" role="button"><i class="fa fa-eye"></i> Profile</a> <a href="#" class="btn btn-message" role="button"><i class="fa fa-send"></i> Message</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="http://placehold.it/290x200" alt="placeholder 1">
          <div class="caption">
            <h3>Kale chips selvage </h3>
            <p>Crucifix vegan letterpress, Intelligentsia photo booth disrupt ...</p>
            <p><a href="#" class="btn btn-profile" role="button"><i class="fa fa-eye"></i> Profile</a> <a href="#" class="btn btn-message" role="button"><i class="fa fa-send"></i> Message</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img src="http://placehold.it/290x200" alt="placeholder 1">
          <div class="caption">
            <h3>Fingerstache Brooklyn</h3>
            <p>Etsy asymmetrical hoodie trust fund swag sustainable chia</p>
            <p><a href="#" class="btn btn-profile" role="button"><i class="fa fa-eye"></i> Profile</a> <a href="#" class="btn btn-message" role="button"><i class="fa fa-send"></i> Message</a></p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row section-btn center">
      <button class="btn btn-warning" type="submit">See All</button>
    </div>
  </div>
</div>