<div class="jumbotron" id="events">
  <div class="container-fluid">
    <div class="row section-header center">
      <div>
        <span class="fa fa-map-marker"></span>
        <h3>Events</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <img src="http://placehold.it/200x200" alt="Benefit placeholder 1">
      </div>
      <div class="col-md-10">
        <p class="lead" id="events-title">Super Competition</p>
        <p class="lead sub-lead">August 22, 2015 London, UK</p>
        <p class="info">Bitters trust fund Odd Future, sartorial pork belly wayfarers High Life brunch butcher vegan. Forage Williamsburg cliche kale chips. Next level ennui banjo, narwhal shabby chic Helvetica retro freegan authentic distillery Carles butcher locavore.</p>
      </div>
    </div>
    <div class="row section-btn center">
      <!-- <button class="btn btn-warning" type="submit">See All</button> -->
      <%= button_to "See All", class: "btn btn-warning" %>
    </div>
  </div>
</div>