<div class="jumbotron" id="events">
  <div class="container-fluid">
    <div class="row section-header center">
      <div>
        <span class="fa fa-map-marker"></span>
        <h3>Events</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img src="http://placehold.it/200x200" alt="Benefit placeholder 1">
      </div>
      <div class="col-md-8">
        <p class="lead">Super Competition</p>
        <p class="info">Bitters trust fund Odd Future, sartorial pork belly wayfarers High Life brunch butcher vegan. Forage Williamsburg cliche kale chips. Next level ennui banjo, narwhal shabby chic Helvetica retro freegan authentic distillery Carles butcher locavore.</p>
      </div>
    </div>
    <div class="row center section-btn" id="see-all-btn">
      <%= link_to "See All", projects_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>