<footer class="footer">
  <div class="container">
    <%= link_to "Contact", pages_contact_path, class: "btn btn-link" %>
    <%= link_to "About", pages_about_path, class: "btn btn-link" %>
    <p class="center">&copy; 2015 SkillMill</p>
  </div>
</footer>

