<footer class="footer">
  <div class="container-fluid">
    <%= link_to "Contact", pages_contact_path, class: "btn btn-link" %>
    <%= link_to "About", pages_about_path, class: "btn btn-link" %>
    <div class="row center">&copy; 2015 SkillMill GesmbH.</div>
  </div>
</footer>

